.imgbanner{
  display: flex;
}

.section-image {
  background-color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.texto-destacado {
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin: 50px;
}
.container {
  padding: 30px 0;
  justify-content: center;
  flex-direction: row;
  
}

.novedades {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.textodenovedades {
  display: flex;
  margin-right: 5px;
}

.recibirnovedades {
  margin: 5px;
  margin-right: 5px;
}

.ediciones {
  text-align: center;
}