.tituloshop{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin: 50px;
}
.containershop{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productshop{
    margin: 5% 20%;
}

.bcolor{
    background-color: black;
    color: white;
}

.margshop{
    margin: 20px;
}

.vermas{
    display: flex;
    justify-content: center;
    margin: 50px;
}