.tempo23{
    background-color: black;
}

.margintempo{
    margin: 20%;
}

.contador{
    display: flex;
    justify-content: center;
    padding: 10px;
}

th{
    padding: 5px 25px 5px 20px;
}

td{
    padding: 5px 25px 5px 20px;
}